<p id="notice"><%= notice %></p>

 <table id='tab1' cellpadding='5' align=center>
 <tr><td>First Name:</td>
<td>  <%= @staff.fname %></td>
<tr>
 <td>Last Name:</td>
  <td><%= @staff.lname %></td>
</tr>
<tr>
<td>Address:</td>
 <td> <%= @staff.address %></td>
</tr>
<tr>
<td>Phone:</td>
 <td> <%= @staff.phone %></td>
</tr>
<tr>
<td>Joining Date:</td>
 <td> <%= @staff.dob %></td>
</tr>
</table>

<div align='center'>
<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
</div>