<%= form_for(@student, :html => { :multipart => true}) do |f| %>
  <% if @student.errors.any? %>
  <div  align='center'>
    <div id="error_explanation" >
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id='tab2' cellpadding='5' align=center>
     <tr><td>First Name</td>
   <td> <%= f.text_field :fname %></td></tr>
  <tr><td>Lname</td>
   <td> <%= f.text_field :lname %> </td></tr>
 <tr><td>
    <%= f.label :address %></td>
   <td> <%= f.text_field :address %></td></tr>
  <tr><td><%= f.label :Phone %></td>
   <td> <%= f.text_field :phone %></td></tr>
  <tr><td>
    <%= f.label :dob %></td>
   <td> <%= f.date_select :dob %></td><tr>
 <tr>
 

 <tr><td>
    <%= f.label :picture %></td>
   <td> <%= f.file_field :avatar %></td><tr>
 <tr>
 
 
 
 <tr><td colspan='2' align='center'>
  <div class="actions">
    <%= f.submit %>
	</div>
 </td>
 </tr>
 </table>
<% end %>
